.custom-navbar {
  background-color: var(--navBar);
  box-shadow: 0 2px 10px rgba(165, 32, 32, 0.5);
  padding: 1rem 0;
}

.brand-text {
  font-weight: bold;
  color: var(--secondary) !important;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease !important;
  cursor: pointer;
}

.brand-text:hover {
  transform: scale(1.5);
  font-weight: bold;
}

.navbar-nav-custom {
  display: flex !important;
  justify-content: space-evenly !important;
  color: var(--secondary) !important;
  width: 100%;
}

.navbar-nav-custom .nav-link {
  color: var(--secondary) !important;
  position: relative;
  top: 0.5rem;
  transition: color 0.3s ease !important;
  cursor: pointer;
}

.navbar-nav-custom .nav-link.onglet::after {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  height: 2px;
  background-color: var(--secondary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-nav-custom .nav-link.onglet:hover::after {
  transform: scaleX(1);
}

.buttonCustom {
  display: flex !important;
  position: relative;
  bottom: 0.5rem;
  border-color: var(--buttonBorder);
  border-width: 0.5px !important;
  background-color: var(--buttonFill);
  color: var(--buttonBorder);
}

.navbar-nav-custom .nav-link .buttonCustom::after {
  display: none !important;
}
