.pokemon-card {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--avatarFillBox);
  background-color: var(--avatarFillBox) !important;
  color: var(--secondary) !important;
}

.starter-card:hover {
  transform: translateY(-10px);
}

.type {
  color: #fff;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 0.2rem;
}
