.img_pokemon {
  position: relative;
  z-index: 1 !important;
  width: 400px;
  height: 400px;
}

.brand-name {
  position: relative;
  z-index: 1000 !important;
  margin-top: -7rem;
}

.description-pokemon {
  position: relative;
  width: max-content;
  margin-right: 15rem;
}

@media (max-width: 576px) {
  .brand-name {
    height: 150px;
    width: 150px;
  }

  .img_pokemon {
    height: 150px;
    width: 150px;
  }
}
