/* Page de choix des starters */
.starter-choice-page {
  min-height: 80vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .starter-choice-page {
    padding-top: 2rem;
  }

  .professor-section h1 {
    font-size: 2rem;
  }
}

.trait {
  content: "";
  position: relative;
  bottom: 0rem;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  height: 2px;
  background-color: var(--secondary);
}
